@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@repo/tailwind-config/theme.css";

@source "../../../packages/ui/components";
@source "../node_modules/streamdown/dist/*.js";

@variant dark (&:where(.dark, .dark *));

@theme inline {
	--font-noto-sans: "Noto Sans";
	--font-sans: var(--font-noto-sans), ui-sans-serif, system-ui, sans-serif;
}

@utility container {
	margin-inline: auto;
	padding-inline: 1.5rem;
	width: 100%;
	max-width: var(--container-7xl);
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--border);
	}

	svg.lucide {
		stroke-width: 1.5;
	}
}
